/*
===========================
Stylesheet Author: Zee Zali
===========================
*/
.site-header {
  background: rgba(0,0,0,0.9);
}
@media (min-width: 60.5em) {
  .site-header {
    background: rgba(0,0,0,0.95);
  }
}
.site-header .off-canvas-contents {
  padding: 1em 1.8em;
}
@media (min-width: 60.5em) {
  .site-header .off-canvas-contents {
    padding: 0 4%;
  }
}
.site-nav {
  padding: 1.5625em 0 0;
  text-transform: uppercase;
}
@media (min-width: 60.5em) {
  .site-nav {
    padding: 0;
  }
}
.site-nav,
.site-nav .link {
  color: #fff;
}
@media (min-width: 60.5em) {
  .site-nav,
  .site-nav .link {
    color: $grey-1;
  }
}
.site-nav .link {
  display: block;
  padding: 0.9em 0;
  font-weight: 600;
  font-size: 0.9375em;
}
@media (min-width: 60.5em) {
  .site-nav .link {
    padding: 1.2em 0;
    font-size: 0.875em;
  }
}
@media (min-width: 64em) {
  .site-nav .link {
    font-size: 0.9375em;
  }
}
@media (min-width: 60.5em) {
  .site-nav li {
    display: inline-block;
    text-align: center;
    padding: 0 2.8em;
  }
}
@media (min-width: 60.5em) {
  .site-nav .stress-test {
    display: none;
  }
}
@media (min-width: 60.5em) {
  .site-nav ul {
    text-align: center;
    margin: 0 0 0;
  }
}
